# Environments
.venv/
env/
venv/
ENV/

# Python bytecode
__pycache__/
*.pyc
*.pyo

data/embeddings.npy
data/tfidf_vectors.npz
data/tfidf_vectorizer.pkl
data/student_loan_augmented.csv
data/X_test_tfidf.npz
data/X_train_tfidf.npz
data/student_loan_test.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/